/*===============================
=           Services            =
===============================*/

#services-listing {

	#services-into-block {
		@media (min-width:2500px) {
	    	margin-top: 250px!important;
	    }
		margin-top: 100px;
		margin-bottom: 155px;
		@include breakpoint (desktop) {
			margin-top: 90px;
			margin-bottom: 120px;
		}
		@include media-breakpoint-only(lg) {
	      margin-top: 70px;
	      margin-bottom: 90px;
	    }
		@include media-breakpoint-only(md) {
	      	margin-top: 60px;
	      	margin-bottom: 70px;
	    }
		@include media-breakpoint-down(sm) {
	        margin-top: 50px;
	        margin-bottom: 30px;
	    }
		header {
			text-align: center;
			h2 {
				@include heading-font;
				margin-bottom: 20px;
			}
			p {
				font-family: $pop-reg;
				font-size: 1.125em;
				text-align: center;
				color: $text-color;
				max-width: 730px;
				margin-left: auto;
				margin-right: auto;
				@include breakpoint (desktop) {
					font-size: 1.063em;
				}
				@include media-breakpoint-only(lg) {
			       font-size: 1.063em;
			    }
				@include media-breakpoint-only(md) {
			       font-size: 1em;
			    }
				@include media-breakpoint-down(sm) {
	       			font-size: 0.938em;
	    		}
	    		strong {
	    			font-weight: normal;
	    			font-family: $pop-bold;
	    		}
			}
		}
	}
	#services-list-block {
		.services-list-box {
			&:nth-of-type(even) {
				margin-bottom: 170px;
				@include breakpoint (desktop) {
					margin-bottom: 130px;
				}
				@include media-breakpoint-only(lg) {
			       margin-bottom: 110px;
			    }
				@include media-breakpoint-down(md) {
			       margin-bottom: 0;
			    }
				.container {
					flex-direction: row;
				}
				.about-lshape {
					right: 0;
					left: auto;
					max-width: 991px;
		    		width: 55vw;
		    		@include media-breakpoint-only(lg) {
				        width: 45vw;
				    }
				    @include media-breakpoint-only(md) {
						width: 45vw;
					}
					@include media-breakpoint-down(sm) {
						display: none;
					}
				}
				.about-block--text {
					margin-left: 0;
					margin-right: auto;
				    @include media-breakpoint-only(md) {
						padding-left: 0!important;
						padding-right: 35px!important;
					}
				}
				.about-block--image {
					margin-left: 0;
					img {
						max-width: 90%;
					}
				    @include media-breakpoint-only(md) {
				        width: 300px;
				    }
				    img {
				    	@include media-breakpoint-down(sm) {
							max-width: 203px;
				    	}
				    }
				    .mobile-shape {
						left: auto;
						right: -15px;
					}
				}
			}
			position: relative;
			margin-bottom: 200px;
			@include breakpoint (desktop) {
				margin-bottom: 200px;
			}
			@include media-breakpoint-only(lg) {
				margin-bottom: 100px;
			}	
			@include media-breakpoint-only(md) {
				margin-bottom: 80px;
			}
			@include media-breakpoint-down(sm) {
		        margin-bottom: 50px;
		    }
			.container {
				flex-direction: row-reverse;
				@include media-breakpoint-up(sm) {
					display: flex;
				}
			}

			.about-lshape {
				position: absolute;
				left: 0;
				top: 0;
				max-width: 900px;
	   			width: 55vw;
	   			@include media-breakpoint-only(lg) {
			        width: 45vw;
			    }
			    @include media-breakpoint-only(md) {
			        width: 45vw;
			    }
			    @include media-breakpoint-down(sm) {
					display: none;
				}
			}
			.about-block--text {
				max-width: 470px;
				position: relative;
				z-index: 1;
				margin-left: auto;
				@include media-breakpoint-only(md) {
			         padding-right: 0;
			        max-width: 380px;
				    padding-left: 30px;
			    }
				.title {
					@include subheading-font;
					@include media-breakpoint-down(sm) {
						margin-bottom: 10px;
					}
				}
				h3 {
					@include heading-font;
					margin-bottom: 35px;
					@include media-breakpoint-down(sm) {
						margin-bottom: 25px;
					}
				}
				p {
					@include text-font;
					margin-bottom: 20px;
					strong {
						font-weight: 400;
						font-family: $pop-bold;
						margin-bottom: 0;
					}
				}
				a {
					margin-top: 30px;
					@include button2;
					@include media-breakpoint-down(sm) {
						margin-top: 0;
					}
				}
			}
			.about-block--image {
				position: relative;
				z-index: 1;
				margin-left: 0;
				img {
					max-width: 90%;
				}
				@include media-breakpoint-only(lg) {
			        width: 400px;
			    }
			    @include media-breakpoint-only(md) {
			        width: 300px;
			    }
			    @include media-breakpoint-down(sm) {
					margin-left: auto;
					margin-right: auto;
					text-align: center;
					margin-top: 40px;
			    }
			    img {
			    	@include media-breakpoint-down(sm) {
						max-width: 203px;
			    	}
			    }
			    .mobile-shape {
					@include media-breakpoint-up(sm) {
						display: none;
			    	}
					opacity: 1;
					max-width: 90vw;
					z-index: -1;
					@include centre(y);
					left: -15px;
				}
			}
			.about-book-mobile {
				text-align: center;
			}
			.book {
				margin-top: 30px;
				@include button2;
				@include media-breakpoint-down(sm) {
					margin-top: 10px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
	#process {
		@include media-breakpoint-down(sm) {
	        margin-top: 70px;
	        margin-bottom: 0;
	    }
	}
}

/*=====  End of Services  ======*/